<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Burgers & Chips</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/burgers.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Beef</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Lettuce</li>
								<li>Tomatoes</li>
								<li>Onions</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Potatoes</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Mayo</li>
								<li>Cheese</li>
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				<ol>
				<li>Preheat the pan</li><br>
				<li>Fry burgers on pan at 170°c for 5 mins. Flip regularly to avoid burning</li><br>
				<li>Prepare toppings: lettuce, tomatoes, onions etc</li><br>
				<li>Top with cheese and toast the buns</li><br>
				<li>Add mayonnaise or preferred sauce</li><br>
				<li>Oven bake the chip (follow instructions on packaging)</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
