<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Pasta Carbonara</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/carbonara.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Chicken</li>
								<li>Ham</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Peppers</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Pasta</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Parsley</li>
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				<ol>
				<li>Boil pasta in a large saucepan.</li><br>
				<li>Meanwhile, heat oil in a frying pan over medium-high heat. Add bacon. Cook for 4
minutes or until crisp.</li><br>
				<li>Add pasta carbonara sauce to pasta</li><br>
				<li>Add bacon and cooked peppers, broccoli etc.</li><br>
				<li>tossing, over low heat for 1 minute or until combined. Top with parsley.
Serve.</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
