<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Chicken Curry</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/chickencurry.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Chicken breasts</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Onion</li>
								<li>Mushrooms</li>
								<li>Peppers</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Rice</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Curry powder</li>	
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				
				<ol>
				<li>Wash and chop 2 chicken fillets into bite size pieces then season</li><br>
				<li>Place rice in saucepan and boil for 10-15 minutes</li><br>
				<li>Fry onions, mushrooms and peppers medium heat until golden brown</li><br>
				<li>Add 8 tablespoons of curry powder to 600mls of water and bring to the boil</li><br>
				<li>Preheat pan, Add the chicken and fry for Approx. 10 mins at 170°c</li><br>
				<li>add veg and Curry Sauce and allow simmer for 5 minutes</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
