<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Fajitas</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/fajitas.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Pork</li>
								<li>Beef</li>
								<li>Steak</li>
								<li>Chicken</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Onion</li>
								<li>Peppers</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Wraps</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Fahita seasoning</li>
								<li>Salsa</li>
								<li>Cheese</li>
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				
				<ol>
				<li>Chop Pork /Beef /Steak /chicken (wash) into bite size pieces and season</li><br>
				<li>Add oil to the pan and add the chicken and fry for approx. 10 mins</li><br>
				<li>add diced peppers and onion at Medium / Low heat. Fry until golden brown.</li><br>
				<li>Add fajitas seasoning to the pan and Stir well.</li><br>
				<li>Heat up tortilla wraps in microwave for 20 seconds</li><br>
				<li>Create your own fajita and add salsa sauce, cheese, sour cream etc.</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
