<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Lasagne</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/lasagne.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Beef</li>
								</ul>
							</li>
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Pasta</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Lasagne sauce</li>
								<li>Cheese</li>
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				<ol>
				<li>Preheat oven to 200° c</li><br>
				<li>Fry 1 pound of ground mince on the pan with some oil. Add 1 jar of lasagne sauce to the
beef and let it simmer while lasagne cooks. Drain cooked lasagne</li><br>
				<li>In a large flat-bottomed pan, spread as follows: 1-layer lasagne strips. Cover with thin layer
of sauce and meat. Sliced mozzarella cheese. 2nd layer of lasagne. 2nd layer of meat.
Sprinkle layer of cheese. Continue creating layers until all remaining meat and lasagne are
used up.</li><br>
				<li>Bake in 350°c oven about 40 minutes until cheese is melted and bubbly. Cut through
mixture in square portions to serve</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
