	<center><h1>Results Matching Your Search</h1><center><br>
<table border = "0">

<div id="0" class="hidden"><tr><td width = 50%>
<img src = "images/chickencurry.jpg" width= "80%" height = "40%">
</td><td width ="35%"> <h1>Chicken Curry</h1> <h3>Not sure what to make for dinner?<br> This homestyle chicken curry recipe is easy and delicious</h3><br><br>
<h4>86% of users have liked this recipe</h4></td>
<td width = "15%">
<h2><i>Ingredients:</i> </h2><ul><li><h3 id="chicken">Chicken</h3> </li>
<li><h3 id="onions">Onions </h3></li><li><h3 id="peppers">Peppers </h3></li>
<li><h3 id="mushrooms">Mushrooms </h3></li><li><h3 id="rice">Rice </h3></li></ul>
</td></tr></div>

<div id="1" class="hidden"><tr><td width = 50%>
<img src = "images/fajitas.jpg" width= "80%" height = "60%">
</td><td width ="35%"> <h1>Fajitas</h1> <h3>Try something new for dinner<br> This is a fun meal to make and great to have when you have guests
<br>One of the most popular recipes amoung users</h3><br><br>
<h4>95% of users have liked this recipe</h4></td>
<td width = "15%">
<h2><i>Ingredients:</i> </h2><ul><li><h3 id="chicken">Chicken</h3></li><li> <h3 id="beef">Beef</h3></li>
<li><h3 id="onions">Onions </h3></li><li><h3 id="peppers">Peppers </h3></li>
<li><h3 id="beans">Kidney Beans </h3></li><li><h3 id="rice">Rice </h3></li><li> <h3 id="wrap">Tortilla Wrap</h3></li></ul>
</td></tr></div>

<div id="2" class="hidden"><tr><td width = 50%>
<img src = "images/lasagne.jpg" width= "80%" height = "25%">
</td><td width ="35%"> <h1>Lasagne</h1> <h3>Tried and tested lasagne, never disappoints<br> This classic meal always goes down well and produces plenty of servings
<br>One of the most popular recipes amoung older users</h3><br><br>
<h4>91% of users have liked this recipe</h4></td>
<td width = "15%">
<h2><i>Ingredients:</i> </h2><ul> <li><h3 id="beef">Beef</h3></li>
<li><h3 id="onions">Onions </h3></li><li><h3 id="carrots">Carrots </h3></li>
<li><h3 id="pasta">Pasta Sheets</h3> </li></ul>
</td></tr></div>

<div id="3" class="hidden"><tr><td width = 50%>
<img src = "images/carbonara.jpg" width= "80%" height = "12%">
</td><td width ="35%"> <h1>Pasta Carbonara</h1> <h3>Italian Style Carbonara is easy to make and tasty<br> To change things up from the regular old chicken and pasta dish try 
<br>This carbonara which will change things up and provide something new</h3><br><br>
<h4>87% of users have liked this recipe</h4></td>
<td width = "15%">
<h2><i>Ingredients:</i> </h2><ul><li> <h3 id="chicken">Chicken</h3></li>
<li><h3 id="ham">Ham </h3></li><li><h3 id="peppers">Peppers </h3></li>
<li><h3 id="pasta">Pasta </h3> </li></ul>
</td></tr></div>

<div id="4" class="hidden"><tr><td width = 50%>
	<img src = "images/stirfry.jpg" width= "80%" height = "40%">
	</td><td width ="35%"> <h1>Stir Fry</h1> <h3>Quick and delicious stir fry<br> A meal that can be made by even the most inept of chefs. 
	<br>This dish should only take a matter of minutes from start to finish. This dish can be tailored to match everybodies tastes.</h3><br><br>
	<h4>93% of users have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2> <ul><li><h3 id="chicken">Chicken</h3></li>
	<li><h3 id="onions">Onions </h3></li><li><h3 id="peppers">Peppers </h3></li>
	<li><h3 id="mushrooms">Mushrooms </h3> </li><li><h3 id="peas">Snap Peas </h3> </li><li><h3 id="pasta">Pasta </h3> <li></ul>
	</td></tr></div>


	<div id="5" class="hidden"><tr><td width = 50%>
	<img src = "images/shepherdspie.jpeg" width= "80%" height = "20%">
	</td><td width ="35%"> <h1>Shepherd's Pie</h1> <h3>Comfort Food at it's Finest<br> A meal most suited to those cold winter days that will warm you right up 
	<br>An essential Irish dish passed down by generations, a dish to look forward to after a long days work</h3><br><br>
	<h4>96% of users have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2><ul> <li><h3 id="beef">Beef</h3></li>
	<li><h3 id="onions">Onions </h3></li><li><h3 id="carrots">Carrots </h3></li>
	<li><h3 id="mushrooms">Mushrooms </h3></li><li> <h3 id="peas">Snap Peas </h3></li><li> <h3 id="potato">Potatoes </h3> </li></ul>
	</td></tr></div>
	
	
	<div id="6" class="hidden"><tr><td width = 50%>
	<img src = "images/burgers.jpg" width= "80%" height = "40%">
	</td><td width ="35%"> <h1>Burgers and Chips</h1> <h3>Simplicity can also be tasty<br> Students will always go back to this easy dish as it is quick and easy
	<br>This recipe will show how to make your quick and easy dish into something a little bit extra</h3><br><br>
	<h4>90% of students have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2> <ul><li><h3 id="beef">Beef</h3></li>
	<li><h3 id="onions">Onions </h3></li><li><h3 id="tomatoes">Tomatoes </h3></li>
	<li><h3 id="lettuce">Lettuce </h3> </li><li><h3 id="potato">Potatoes </h3> </li></ul>
	</td></tr></div>
	
	<div id="7" class="hidden"><tr><td width = 50%>
	<img src = "images/fish.jpeg" width= "80%" height = "15%">
	</td><td width ="35%"> <h1>Fish and Chips</h1> <h3>Simplicity can also be tasty<br> Students will always go back to this easy dish as it is quick and easy
	<br>This recipe will show how to make your quick and easy dish into something a little bit extra</h3><br><br>
	<h4>84% of students have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2> <ul><li><h3 id="fish">Fish</h3></li>
	 <li><h3 id="potato">Potatoes </h3> </li></ul>
	</td></tr></div>
	
	<div id="8" class="hidden"><tr><td width = 50%>
	<img src = "images/steak.jpg" width= "80%" height = "100%">
	</td><td width ="35%"> <h1>Steak and Chips</h1> <h3>Simplicity can also be tasty<br> Another classic meal with a premium cut of meat can become something special
	<br>A simple yet classy dish</h3><br><br>
	<h4>92% of users have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2> <ul><li><h3 id="beef">Beef</h3></li>
	<li><h3 id="onions">Onions </h3></li><li><h3 id="mushrooms">Mushrooms </h3></li>
    <li><h3 id="potato">Potatoes </h3></li> </ul>
	</td></tr></div>
	
	
	<div id="9" class="hidden"><tr><td width = 50%>
	<img src = "images/bolognese.jpeg" width= "80%" height = "15%">
	</td><td width ="35%"> <h1>Spaghetti Bolognese</h1> <h3>Delicious Italian style Bolognese<br>A family style dish which goes down as a crowd favourite 
	<br>Tasty yet simple meal which is enough to please the whole family</h3><br><br>
	<h4>89% of users have liked this recipe</h4></td>
	<td width = "15%">
	<h2><i>Ingredients:</i> </h2> <ul><li><h3 id="beef">Beef</h3></li>
	<li><h3 id="onions">Onions </h3></li><li><h3 id="carrots">Carrots </h3></li>
	<li><h3 id="mushrooms">Mushrooms </h3> </li><li><h3 id="pasta">Spaghetti </h3> </li></ul>
	</td></tr></div>
	
</table>