<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Shepherds Pie</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/shepherdspie.jpeg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Beef</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Carrots</li>
								<li>Mushrooms</li>
								<li>Onions</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Potatoe</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Cheese</li>
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				<ol>
				<li>Heat oven to 200° c</li><br>
				<li>Place the beef in a large pan and cook over medium-high heat until no trace of pink
remains, about 5 minutes.</li><br>
				<li>Spoon off and discard any fat</li><br>
				<li>Add the vegetables and cook, stirring, for 1 minute. Spoon into a baking dish.</li><br>
				<li>Mix the cheese (if desired) with the potatoes in a bowl. Spread over the beef and
bake until heated through, 10 minutes.</li><br>
				<li>Divide among plates</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
