<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Italian Style <br>Bolognese</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/bolognese.jpeg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Minced Beef</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Onion</li>
								<li>Carrots</li>
								<li>Mushrooms</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Spagetti (Or Pasta)</li>
								</ul>
							</li>	
							<li><h3>Additional Options</h3>
								<ul>
								<li>Garlic</li>
								<li>Tomato Purée</li>
								<li>Parmesan</li>	
								</ul>
							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>

				
				<ol>
				<li>Add the onion, carrot, garlic and mushroom to a saucepan at a medium heat, then fry for 10 mins. Stir the veg often until it softens.</li><br>
				<li>Increase the heat to medium-high, add the mince and cook stirring for 3-4 mins until the meat is browned all over.</li><br>
				<li>Add the tomato purée and wine. Stir with a wooden spoon</li><br>
				<li>Bring to the boil, reduce to a gentle simmer and cover with a lid. Cook for 1 hr 15 mins stirring occasionally, until you have a rich, thick sauce. Add the Parmesan, check the seasoning and stir.</li><br>
				<li>When the Bolognese is nearly finished cook the spaghetti following pack instructions. Drain the spaghetti and stir into the Bolognese sauce. Serve with grated Parmesan.</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
