<body background="images/bg.jpeg">
<div class="container">
<div class="row justify-container-md-center">
<div class="col col-lg-2"></div>
<div class="col-md-auto">
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<center><h1 class="lobster">Stir fry</h1><center><br><br>
		<table class="round" border="0" style="width:100%" >
				<tr>
					<td width="60%"  class="ingred">
						<img class="img-circle"src="images/stirfry.jpg" height="430" width="600">
					</td>
					<td width ="40%"  class="ingred">
						<h2><center>Ingredients</center></h2>
						<ul style="list-style-type:square">
							<li><h3>Meat</h3>
								<ul>
								<li>Beef</li>
								</ul>
							</li>
							<li><h3>Vegtable</h3>
								<ul>
								<li>Onion</li>
								<li>Mushrooms</li>
								</ul>
							</li>	
							<li><h3>Carbohydrates</h3>
								<ul>
								<li>Rice</li>
								</ul>
							</li>	

							</li>	
						</ul>		
						
					</td>
				</tr>
				<tr>
				
				<td colspan="2" class="recipe">
					<h1 class="lobster"><center><i>Recipe</i></center></h1>
					
					</td>
					
				</tr>
				</table>
			
				<ol>
				<li>Boil noddle until soft</li><br>
				<li>Preheat pan. Fry chicken for approx. 10 mins at 170° c</li><br>
				<li>Toss peppers, onions, mushrooms, snap peas etc. onto the pan</li><br>
				<li>Add desired sauce (soya, sweet chilli) mix</li><br>
				</ol>
				</div>
				<div class="col col-lg-2"></div>
				</div>
</div>
</body>
